body {
  background-color: black;
}


aside {
  position: absolute;
  z-index: 0;
  top:5.5em;

  width: 800px;
  height: 635px;
  background-image: url("../images/selfie2.jpg");
  background-repeat: no-repeat;
  background-position: 80% 25%;
}

#cardCar{

    position: absolute;
    top: 25%;
    right: 3%;
    width: 500px;
    height: 400px;

}

#cardCar p{
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: medium;
    font-weight: 600;

    padding: 5px;
    margin-left: 20px;
    text-align: justify;

}


@media (max-width: 600px) {
  
  #cardCar{
    z-index: 1;
    width: 400px;
    margin-right: 5px;
    top:150px;
  }

  #cardCar p{
    margin-top: 0px;
    margin-bottom: 0px;
    
  }


  aside{
    margin-top: 450px;
    width: 400px;
    left: 0;
  }

  

}